body {font-family: helvetica;}
h1 {color:#0000ff; font-family: helvetica, impact, sans-serif;}
table {border: 1px solid black;
empty-cells:hide;
caption-side: bottom;
}
table#main_table{width : 85%; font-family : sans-serif; border : hidden;}
table#main_table td,th{border : 1px solid black;}
caption{
	background:#003366
	color:#ffffff;
}
tr#newrecord
{ 
background-color:#00FFFF;
}
input:required
{ 
background-color:yellow;
}
input[readonly="readonly"]
{
    background-color:gray;
}
input[type="number"] {
   width:15px;
}
dt.important{
	font-style:italic;
	color:red;
}